.pfp {
  height: 15.625em; 
  background-color: #f2e8d9;
  padding: 0.4375em; 
  border: solid 0.3125em #2f7a7d;
  margin-bottom: 0;
}

.image {
  height: 15.625em; 
  background-color: #f2e8d9;
  padding: 0.25em; 
  border: solid .125em #2f7a7d;
  margin-bottom: 0;
}

.text {
  font-family: "Bitter";
  margin: 0.9375em 25px 0.9375em 25px; 
}

h1 {
  font-family: "Oswald";
  font-weight: 400;
  color: #160f29;   
  font-size: 1.875rem;
  margin: 2.5em;
  margin-top: 1.5em; 
}

.fandiv {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  flex-direction: column;
  margin: 0; 
  position: relative;
  max-width: 68.75em;
}

.fandom-tag {
  margin-bottom: 1em;
  margin-top: 1em; 
  align-self: start;
  margin-left: 9%
}

.fan-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  border: solid 0.125em #160f29;
  margin: .625em; 
}

@media (max-width: 47em) {
  .fan-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 47.0001em) and (max-width: 72.9999em) {
  .fan-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 73em){
  .fan-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.fan-grid div {
  border: solid 0.0625em #160f29;
  font-family: "Bitter";
  padding: .625em; 
}

.quote {
  margin-bottom: 1.5em; 
}

